.details{
     

}
.option{

}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.title svg{
    font-size: 32px;
    
    background-color: rgba(17,25,40,0.3);
    padding: 10px;
    border-radius: 50%;
    color: white; 
    cursor: pointer;

}
.photos{
    scrollbar-width: thin;
    scrollbar-color: black;
    scroll-behavior: smooth;
    scrollbar-track-color: rgba(17, 25, 40, 0.3);
    ::-webkit-scrollbar{
        width: 10px !important;
    }
    ::-webkit-scrollbar-track{
        background-color: rgba(8, 10, 13, 0.3);
        border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb{
        background:black;
        border: 2px solid transparent;
        border-radius: 20px;
    }
}
.photoItem{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}
.photoDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.photoDetail img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}
.photoDetail span{
    font-size: 9px;
    color: lightgray;
}
.photoItem svg{
    color: white;
    cursor: pointer;
}
